.popular-container {
  min-height: 100%;
  background: linear-gradient(to bottom, #181818, #1A1A1A, #2B2B2B);
  padding: 0.5rem 3rem 0.5rem 3rem;
  align-items: center;
  overflow: hidden;
}

/* Grid/Table 영역 */
.view-container {
  flex: 1;
}

/* 반응형 */
@media (min-width: 768px) {
  .popular-container {
    padding: 0.5rem 7rem 0.5rem 7rem;
  }
}