.movie-card {
    flex: none;
    width: 8rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05);
}

.card-image {
    position: relative;
    aspect-ratio: 2 / 3;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.card-adult-icon {
    position: absolute; /* 부모(.movie-poster)를 기준으로 */
    color: rgba(255, 0, 0, 0.7);
    top: 0.5rem;
    left: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    z-index: 10;
}

.favorite-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
}

.movie-title {
    color: white;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.rating {
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    cursor: pointer;
}

.thumbs-icon {
    margin-right: 0.5rem;
    color: #facc15; /* Tailwind yellow-400 */
    width: 1rem;
    height: 1rem;
}

/* 반응형 */
@media (min-width: 768px) {
    .movie-card {
        width: 12rem;
    }
}
