/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  background: #181818; /* Gray-800 */
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

/* 로고 */
.logo {
  color: #ef4444; /* Red */
  width: 2.3rem; /* Adjust width */
  cursor: pointer;
}

/* 내비게이션 */
.navigation {
  display: none;
  gap: 1.5rem;
}

.navigation button {
  color: white;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.navigation button:hover {
  color: #d1d5db; /* Gray-300 */
}

/* 유저 프로필 */
.user-profile {
  display: flex;
  align-items: self-end;
  position: relative;
}

.user-profile .user-email {
  position: absolute;
  color: #d1d5db97;
  font-size: 0.8rem;
  right: 90%;
}

.user-profile button {
  padding: 0.25rem;
  border-radius: 50%;
  transition: background 0.3s;
}

.user-profile button:hover {
  background-color: rgba(75, 85, 99, 0.5); /* Gray-700 */
}

.user-profile svg {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}

/* 햄버거 메뉴 버튼 */
.menu-toggle {
  cursor: pointer;
}

/* 사이드바 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  background: #1f2937; /* Gray-800 */
  color: white;
  padding: 2rem 1rem;
  transform: -translate-x-full;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar button {
  text-align: left;
  color: white;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar button:hover {
  color: #d1d5db; /* Gray-300 */
}

/* 닫기 버튼 */
.close-btn {
  margin-bottom: 2rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/* 반응형 */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .user-profile .user-email {
    font-size: 1rem;
  }
}
