.hero-section {
  position: relative;
  height: 40vh;
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 32rem;
  margin: 0rem 1.5rem;
}

.hero-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.hero-description {
  color: #d1d5db;
  font-size: 0.725rem;
  max-height: 3.2rem;
  overflow: hidden;
}

.hero-description2 {
  color: #d1d5db;
  margin-bottom: 0.75rem;
  font-size: 0.725rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
  font-size: 0.725rem;
}

.play-button {
  background-color: #e11d48;
  /* Tailwind red-600 */
  color: white;
}

.play-button:hover {
  background-color: #b91c1c;
  /* Tailwind red-700 */
}

.info-button {
  background-color: #374151;
  /* Tailwind gray-800 */
  color: white;
}

.info-button:hover {
  background-color: #4b5563;
  /* Tailwind gray-700 */
}

/* 반응형 */
@media (min-width: 768px) {
  .hero-section {
    height: 70vh;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-content {
    margin: 0rem 3rem;
  }
  
  .hero-description {
    font-size: 1.125rem;
    max-height: 4.8rem;
  }
  
  .hero-description2 {
    color: #d1d5db;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
  }

  .hero-button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
}